{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "ignorePatterns": ["node_modules/*", "playground/*"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "plugins": ["@babel", "import", "prettier", "jest", "testing-library"],
  "rules": {
    "eol-last": "error",
    "import/default": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object"],
        "newlines-between": "always"
      }
    ],
    "indent": ["error", 2],
    "no-console": "warn",
    "no-duplicate-imports": "warn",
    "no-unused-vars": "warn",
    "object-curly-spacing": ["warn", "always"],
    "semi": "warn",
    "sort-imports": [
      "warn",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false
      }
    ],
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": true,
        "minKeys": 10,
        "natural": false
      }
    ],
    "quotes": ["warn", "single"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ]
  },
  "settings": {
    "propWrapperFunctions": [
      "forbidExtraProps",
      {
        "object": "Object",
        "property": "freeze"
      }
    ]
  }
}
